/* .poster{
  display: grid;

} */

.poster{
  margin-bottom: 5em;
}
img {
  width: 23em;
  border: solid black .6em;
  border-radius: .3em;
}

figcaption {
  background-color: black;
  border-radius: .2em;
  color: white;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  max-height: 3em;
}
figcaption > p {
  margin: 0;
}
