.log-in-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  width: 100%;
  height: 3em;
  background: black;
}

#comment-form {
  margin-top: 0
}

#comment-input {
  width: 90%;
  height: 68%;
}

fieldset {
  width: 100%;
  height: 300px;
  margin-bottom: 3em;
  padding-top: 2em;
  border: 1px solid black;
  background: rgba(0, 0, 0, .6);
}

legend {
  position: relative;
  top: 1.2em;
}

textarea {
  font-family: inherit;
}
