header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 3em;
  height: 6em;
}

h1{
  font-size: 3.5em;
  font-weight: bold;
  color: #dbdbdb;
  margin-top: .2em;
}

button{
  font-size: 1.6em;
  font-weight: bolder;
  background-color: #dbdbdb;
  margin-left: 2em;
  margin-top: 1em;
  width: 9em;
  height: 2.2em;
  border: solid black .2em;
  border-radius: .15em;
}
