form{
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

fieldset {
  font-size: 2.5em;
  font-weight: bold;
  background-color: black;
  opacity: .9;
  color: white;
  align-self: center;
  height: 11em;
  width: 22em;
  display: flex;
  flex-direction: column;
  border: solid black .4em;
  border-radius: .3em;
}

label{
  font-size: .8em;
}

input {
  color: white;
  width: 50%;
  font-size: .75em;
  height: 1.5em;
  margin-top: .4em;
  align-self: center;
  border: solid .2em;
  border-radius: .1em;
  background-color: black;
}

p {
  display: flex;
  flex-direction: column;
  align-content: center;
}

fieldset > button {
  color: white;
  background-color: black;
  border: solid .15em;
  margin: auto;
  font-size: .8em;
  width: 30%;
}
