body{
  background-image: url('../assets/background.jpg');
  width: 100%;
  padding: 0;
  margin: 0;
}

.no-favorites-display{
  font-size: .85em;
  color: white;
  border: solid .5em;
  border-radius: .3em;
  background-color: black;
  opacity: .9;
  width: 60%;
  padding: 2em 0 2em 0;
  align-self: center;
  margin: 0 20%
}

.no-favorites-button {
  font-size: 2.5em;
  margin: 0
}

.no-favorites-icon {
  width: 1em;
  height: 1em;
}


.App {
  text-align: center;
}

/* background-image: url('../images/black-white-background-medium.jpg'); */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
